@font-face {
    font-family: "iconfont"; /* Project id 4202389 */
    src: url('//at.alicdn.com/t/c/font_4202389_ptsdb4fw2h.woff2?t=1691482910548') format('woff2'),
    url('//at.alicdn.com/t/c/font_4202389_ptsdb4fw2h.woff?t=1691482910548') format('woff'),
    url('//at.alicdn.com/t/c/font_4202389_ptsdb4fw2h.ttf?t=1691482910548') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-result-close:before {
    content: "\e68a";
}

.icon-result-open:before {
    content: "\e68b";
}
